.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/* О нас */
.about-section {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.about-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #ffc107, #e0a800);
  top: 0;
  left: 0;
}

.about-section h3 {
  font-size: 24px;
  color: #000;
}

.about-description {
  font-size: 16px;
  color: #333;
}

/* Разделительная линия для компонентов */
.component-divider {
  border-top: 2px solid #ccc;
  margin: 40px 0;
}

/* Изображения - сделали отдельным элементом */
.image-rounded {
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
  max-width: 200px;
  display: block;
  margin: 0 auto 20px; /* Добавлено отступ снизу */
}

.image-rounded:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Подписки */
.subscription-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
}

.subscription-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.subscription-button {
  background-color: #ffc107;
  color: #fff;
  border: none;
  margin-top: auto;
  padding: 10px 20px;
  width: 80%;
  align-self: center;
  margin-bottom: 10px;
}

.subscription-button:hover {
  background-color: #e0a800;
}

/* Контакты */
.contact-info {
  font-size: 16px;
  color: #000;
}

.contact-image {
  width: 50px;
  height: 50px;
}

/* Стиль для портных */
.tailor-section {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  border: 1px solid #4682b4;
}

.tailor-section .subscription-button {
  background-color: #4682b4;
}

.tailor-section .subscription-button:hover {
  background-color: #4169e1;
}

/* Стиль для продавцов */
.vendor-section {
  background-color: #fff5e6;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  border: 1px solid #ffa07a;
}

.vendor-section .subscription-button {
  background-color: #ffa07a;
}

.vendor-section .subscription-button:hover {
  background-color: #ff7f50;
}
